.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-image: url("../img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-container {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 2rem;
  border: 4px solid var(--Primary-600, #6c6f72);
}

.hero-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
}

.hero-CTA {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.hero h1 {
  color: var(--Primary-0, #fff);
  font-family: Lobster;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
