.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-image: url("../img/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero.container {
}
