ul {
  display: inline-flex;
  padding: 0.25rem;
  align-items: center;
  border-radius: 3rem;
  background: var(--Primary-900-50, rgba(0, 0, 0, 0.5));
  list-style-type: none;
}

a {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  text-decoration: none;

  color: var(--Primary-0, #fff);

  /* body-1/regular */
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background: var(--Primary-0, #fff);
    color: var(--Primary-900, #000);
  }
}
