ul {
  display: inline-flex;
  padding: 0.25rem;
  align-items: center;
  border-radius: 3rem;
  background: var(--nav-bg);
  list-style-type: none;
}

.nav-link {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  text-decoration: none;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  &:hover {
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    background: var(--white);
    color: var(--active-text);

    &:hover {
      background: var(--white);
    }
  }
}
