ul {
  display: inline-flex;
  padding: 0.25rem;
  align-items: center;
  border-radius: 3rem;
  background: var(--Primary-900-50, rgba(0, 0, 0, 0.5));
}

a {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--Primary-0, #fff);
  text-decoration: none;
}
