@import "font";
@import "base";
@import "layout";
@import "modules/_CTA.scss";
@import "modules/card.scss";
@import "modules/nav.scss";
@import "modules/hero.scss";

:root {
  --white: #fff;
  --nav-bg: rgba(0, 0, 0, 0.5);
  --active-text: #000;
  --hero-border: #6c6f72;
}

#semaine-1,
#semaine-2 {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#semaine-2 {
  width: 436px;
  height: 632px;
}
