@import "font";
@import "base";
@import "layout";
@import "modules/_example";
@import "modules/_CTA.scss";

#semaine-1 {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
