@import "font";
@import "base";
@import "layout";
@import "modules/_CTA";
@import "modules/card";
@import "modules/nav";
@import "modules/hero";
#semaine-1,
#semaine-2 {
  width: 800px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#semaine-2 {
  width: 436px;
  height: 632px;
}
